#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add-task-form {
  margin-bottom: 20px;
}

.add-task-form  label{
  display: block;
  margin-bottom: 10px;
}

.tasks {
  display: flex;
  margin-bottom: 10px;
}